{% extends 'base.html.twig' %}

{% block title %}Credits - FulTechs{% endblock %}

{% block stylesheets %}
  <link href="{{asset('lib/datatables/css/jquery.dataTables.css')}}" rel="stylesheet">
  <link href="{{asset('lib/select2/css/select2.min.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="slim-mainpanel">
      <div class="container">

        <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="{{path('home')}}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{path('ceaccount_list')}}">Comptes</a></li>
            <li class="breadcrumb-item"><a href="{{path('ceaccount_show',{'id':account.id})}}">Compte</a></li>
            <li class="breadcrumb-item active" aria-current="page">Receptions</li>
          </ol>
          <h6 class="slim-pagetitle">Entrer Compte {{account.ceAccountCode}}</h6>
        </div><!-- slim-pageheader -->
        <div class="section-wrapper">
          {% include 'flash.html.twig' %}
          <label class="section-title">Account: {{account.ceAccountName}}
              <a href="{{path('ceaccount_show',{'id':account.id})}}"><i class="icon ion-edit tx-12 pd-l-40"></i></a>
          </label>
          <p>Below you will find all incomming transactions for account: <span>{{account.ceAccountCode}}</span></p>

          <div class="table-wrapper">
            <table id="datatable1" class="table mg-b-0 tx-12 table-striped display table-fixed">
              <thead>
                <tr>
                  <th class="wd-15p"><i class="icon ion-cash lh-20 tx-20 pd-r-10 text-primary"></i>Amount</span></th>
                  <th class="wd-15p"><i class="icon ion-android-calendar lh-20 tx-20 pd-r-10 text-primary"></i><span>Date</span></th>
                  <th class="wd-20p"><i class="icon ion-podium lh-20 tx-20 pd-r-10 text-primary"></i><span>Account</span></th>
                </tr>
              </thead>
              <tbody>
              {% for accountEntry in accountEntries %}
                {% if accountEntry.isDebit == 0%}
                <tr>
                  <td><i class="fa fa-arrow-circle-down tx-success mg-r-8"></i><strong class="tx-inverse tx-medium">{{accountEntry.ceAmount | number_format('0','.',',')}} FCFA</strong> </td>
                  <td valign="middle"><span>{{accountEntry.datec | date('d-M-Y')}}</span></td>
                  <td><span>{% if accountEntry.ceFromAccount %}{{accountEntry.ceFromAccount.ceAccountCode}} - {{accountEntry.ceFromAccount.ceAccountName}}
                  {% endif %}{% if accountEntry.ceNote %} 
                    <strong class="tx-inverse tx-medium">{{accountEntry.ceNote}}</strong> 
                  {% endif %}</span></td>
                </tr>
                {%endif%}
              {%endfor%}
              </tbody>
            </table>
          </div>
        <div class="pagination-wrapper border-0">
          <nav aria-label="Page navigation">
            <ul class="pagination mg-b-0">
              {{pagination|raw}}
            </ul>
          </nav>
        </div>

        </div>

      </div><!-- container -->
    </div><!-- slim-mainpanel -->

{% endblock %}

{% block javascripts %}
  <script src="{{asset('lib/datatables/js/jquery.dataTables.js')}}"></script>
  <script src="{{asset('lib/datatables-responsive/js/dataTables.responsive.js')}}"></script>
  <script src="{{asset('lib/select2/js/select2.min.js')}}"></script>
{% endblock %}
{% block customscript%}
  <script>
      $(function(){
        'use strict';

        $('#datatable1').DataTable({
          responsive: true,
          language: {
            searchPlaceholder: 'Search...',
            sSearch: '',
            lengthMenu: '_MENU_ items/page',
          },
          pagingType: "simple"
        });

        // Select2
        $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });

      });
    </script>
{%endblock%}