{% extends 'base.html.twig' %}

{% block title %}Account - FulTechs{% endblock %}

{% block body%}

    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="{{path('home')}}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{path('ceaccount_list')}}">Comptes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Compte</li>
          </ol>
          <h6 class="slim-pagetitle">Compte</h6>
        </div><!-- slim-pageheader -->

        <div class="row row-sm">
          <div class="col-lg-8">
          {% include 'flash.html.twig' %}
            <div class="card-deck card-deck-sm mg-x-0">
              <div class="card card-body pd-25">
                <h6 class="slim-card-title mg-b-10">Compte: {{account.ceAccountCode}}  - {{account.ceAccountName}}</h6>
                <h6 class="slim-card-title mg-b-10">Numero: <span class="tx-info">{{account.ceAccountNumber}}</span></h6>
                <div>
                  <h3 class="tx-info"> <span class="tx-gray-600">Solde: </span>{{account.ceAccountBalance | number_format(0, '.', ',')}} FCFA</h3>
                </div>
              </div>
            </div>
            <ul class="nav nav-activity-profile mg-t-20 mg-b-20">
            {% if account.isMobileMoney%}
              <li class="nav-item"><a href="{{path('ceaccount_transfer',{'id':account.id})}}" class="nav-link"><i class="icon ion-ios-undo tx-pink"></i> Nouveau Transfert</a></li>
              <li class="nav-item"><a href="{{path('ceaccount_receive',{'id':account.id})}}" class="nav-link"><i class="icon ion-ios-redo tx-success"></i> Nouvelle Reception</a></li>
            {% endif%}

            {% if account.isCommercial%}
              <li class="nav-item"><a href="{{path('ceaccount_buy',{'id':account.id})}}" class="nav-link"><i class="icon ion-ios-download-outline tx-purple"></i> Nouveau Achat</a></li>
              <li class="nav-item"><a href="{{path('ceaccount_deposit',{'id':account.id})}}" class="nav-link"><i class="icon ion-ios-download-outline tx-teal"></i> Nouveau Depot</a></li>
            {% endif %}
            {% if account.isBankAccount or account.isCash%}
            <li class="nav-item"><a href="{{path('ceaccount_deposit',{'id':account.id})}}" class="nav-link"><i class="icon ion-ios-download-outline tx-teal"></i> Nouveau Depot</a></li>
            {% endif %}
            </ul><!-- nav -->
          </div><!-- col-8 -->

          <div class="col-lg-4 mg-lg-t-0">

            <div class="card-deck card-deck-sm mg-x-0">
              <div class="card card-body pd-25">
                <div class="pd-10">
                  <span class="peity-donut" data-peity="{ &quot;fill&quot;: [&quot;#663090&quot;,&quot;#EC1778&quot;,&quot;#25B1DE&quot;], &quot;height&quot;: 70, &quot;width&quot;: 200 }" style="display: none;">{{totalEntry}},{{totalOut}},{{account.ceAccountBalance}}</span><svg class="peity" height="70" width="200"><path d="M 100 0 A 35 35 0 1 1 88.0292949836016 67.8892417275068 L 94.0146474918008 51.4446208637534 A 17.5 17.5 0 1 0 100 17.5" data-value="10" fill="#663090"></path><path d="M 88.0292949836016 67.8892417275068 A 35 35 0 0 1 65.53172864457272 28.92231378165745 L 82.76586432228636 31.961156890828725 A 17.5 17.5 0 0 0 94.0146474918008 51.4446208637534" data-value="4" fill="#EC1778"></path><path d="M 65.53172864457272 28.92231378165745 A 35 35 0 0 1 100 0 L 100 17.5 A 17.5 17.5 0 0 0 82.76586432228636 31.961156890828725" data-value="4" fill="#25B1DE"></path></svg>
                </div>
                <a href="{{path('ceaccount_credits',{'id':account.id})}}">
                <div class="d-flex align-items-center">
                  <span class="square-10 bg-purple rounded-circle"></span>
                  <span class="mg-l-10  tx-gray-600">Total Entree: </span>
                  <span class="mg-l-auto tx-gray-600 tx-right">{{totalEntry | number_format(0, '.', ',')}}</span>
                </div>
                  
                </a>
                <a href="{{path('ceaccount_debits',{'id':account.id})}}">
                  <div class="d-flex align-items-center mg-t-5">
                    <span class="square-10 bg-pink rounded-circle"></span>
                    <span class="mg-l-10">Total Sortie: </span>
                    <span class="mg-l-auto tx-lato tx-right">{{totalOut | number_format(0, '.', ',')}}</span>
                  </div>
                </a>
                <div class="d-flex align-items-center mg-t-5">
                  <span class="square-10 bg-info rounded-circle"></span>
                  <span class="mg-l-10">Solde: </span>
                  <span class="mg-l-auto tx-lato tx-right">{{account.ceAccountBalance | number_format(0, '.', ',')}}</span>
                </div>
                <div class="form-layout-footer mg-t-10">
                  <a href="{{path('ceaccount_edit',{'id':account.id})}}" class="btn btn-warning bd-0">Modifier</a>
                  <a href="" class="btn btn-danger bd-0">Supprimer</a>
                </div>
              </div>
            </div>
          </div><!-- col-4 -->
        </div>


      </div><!-- container -->
    </div><!-- slim-mainpanel -->

{% endblock %}
