{% extends 'base.html.twig' %}

{% block title %}Account - FulTechs{% endblock %}

{% block body%}

    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="{{path('home')}}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{path('ceaccount_list')}}">Comptes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Compte</li>
          </ol>
          <h6 class="slim-pagetitle">Compte</h6>
        </div><!-- slim-pageheader -->

        
        <div class="section-wrapper mg-t-20">
          <label class="section-title mg-b-20">Compte: <span>{{account.ceAccountCode}} (<span class="text-info">{{account.ceAccountBalance | number_format(0, '.', ',')}} FCFA</span>)</span></label>
          {% include 'flash.html.twig' %}

          <div class="row">
            <div class="col-md">
              <div class="card border border-success">
                <div class="card-body">
                  <h5 class="card-title tx-dark text-success tx-medium mg-b-10">Details du compte</h5>
                  
                  <div class="row mg-b-5">
                    <div class="col">
                      <strong class="mg-l-10  tx-gray-600">Code: </strong>
                    </div>
                    <div class="col">
                      <span class="mg-l-10  tx-gray-600">{{account.ceAccountCode}}</span>
                    </div>
                  </div>
                  <div class="row mg-b-5">
                    <div class="col">
                      <strong class="mg-l-10  tx-gray-600">Mumero: </strong>
                    </div>
                    <div class="col">
                      <span class="mg-l-10  tx-gray-600">{{account.ceAccountNumber}}</span>
                    </div>
                  </div>
                  <div class="row mg-b-5">
                    <div class="col">
                      <strong class="mg-l-10  tx-gray-600">Nom: </strong>
                    </div>
                    <div class="col">
                      <span class="mg-l-10  tx-gray-600">{{account.ceAccountName}}</span>
                    </div>
                  </div>
                  <div class="row mg-b-5">
                    <div class="col">
                      <strong class="mg-l-10  tx-gray-600">Solde: </strong>
                    </div>
                    <div class="col">
                      <span class="mg-l-10  tx-gray-600">{{account.ceAccountBalance | number_format(0, '.', ',')}} FCFA</span>
                    </div>
                  </div>
                  <div class="row mg-t-10">
                    <div class="col justify-content-start">
                      <a href="{{path('ceaccount_edit',{'id':account.id})}}" class="btn btn-warning bd-0 pull-left">Modifier</a>
                      <a href="" class="btn btn-danger bd-0 pull-right">Supprimer</a>
                    </div>
                  </div>
                </div>
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-md mg-t-20 mg-md-t-0">
              <div class="card border border-primary">
                <div class="card-body card-sales">
                  <h5 class="card-title tx-medium text-primary mg-b-10">Transactions</h5>
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active show" href="#MPB" role="tab" data-toggle="tab">Today</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="#MPF" role="tab" data-toggle="tab">Week</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="#MPV" role="tab" data-toggle="tab">Month</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="#MPD" role="tab" data-toggle="tab">Total</a>
                      </li>
                  </ul><!--  Tab panes -->
                  
                  <div class="tab-content mg-t-10">
                      <div role="tabpanel" class="tab-pane fade in  active show" id="MPB">
                        <div class="row">
                          <div class="col text-center">
                            <label class="tx-12">Credits</label>
                            <p>{{accountTransactions.creditToday|number_format(0, '.', ',')}}</p>
                          </div><!-- col -->
                          <div class="col text-center">
                            <label class="tx-12">Debits</label>
                            <p>{{accountTransactions.debitToday|number_format(0, '.', ',')}}</p>
                          </div><!-- col -->
                        </div>
                        <div class="progress mg-b-5">
                          <div class="progress-bar bg-info wd-50p" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 100% "> Not Important</div>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane fade in  " id="MPF">
                        <div class="row">
                          <div class="col text-center">
                            <label class="tx-12">Credtis</label>
                            <p>{{accountTransactions.creditWeek | number_format(0, '.', ',')}}</p>
                          </div><!-- col -->
                          <div class="col text-center">
                            <label class="tx-12">Debits</label>
                            <p>{{accountTransactions.debitWeek | number_format(0, '.', ',')}}</p>
                          </div><!-- col -->
                        </div>
                        {% if account.isMobileMoney%}
                          {% set percWeek = ((accountTransactions.creditWeek+accountTransactions.debitWeek)/1000000)*100%}
                        <div class="progress mg-b-5">
                          <div class="progress-bar felix bg-{% if percWeek > 80 %}warning{%else%}primary{%endif%} wd-50p" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{percWeek|round(2,'floor')}}% "> {{percWeek|round(2,'floor')}}%</div>
                        </div>
                        {% else %}
                        <div class="progress mg-b-5">
                          <div class="progress-bar bg-info wd-50p" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:100% ">Not Important</div>
                        </div>
                        {%endif%}
                      </div>
                                            <div role="tabpanel" class="tab-pane fade in  " id="MPV">
                        <div class="row">
                          <div class="col text-center">
                            <label class="tx-12">Credits</label>
                            <p>{{accountTransactions.creditMonth | number_format(0, '.', ',')}}</p>
                          </div><!-- col -->
                          <div class="col text-center">
                            <label class="tx-12">Debits</label>
                            <p>{{accountTransactions.debitMonth | number_format(0, '.', ',')}}</p>
                          </div><!-- col -->
                        </div>
                        {% if account.isMobileMoney%}
                          {% set percMonth = ((accountTransactions.creditMonth+accountTransactions.debitMonth)/5000000)*100%}
                        <div class="progress mg-b-5">
                          <div class="progress-bar bg-{% if percMonth > 80 %}warning{%else%}primary{%endif%} wd-50p" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{percMonth|round(2,'floor')}}% "> {{percMonth|round(2,'floor')}}%</div>
                        </div>
                        {% else %}
                        <div class="progress mg-b-5">
                          <div class="progress-bar bg-info wd-50p" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:100% ">Not Important</div>
                        </div>
                        {%endif%}
                      </div>
                      <div role="tabpanel" class="tab-pane fade in  " id="MPD">
                        <div class="row">
                          <div class="col text-center">
                            <label class="tx-12">Credits</label>
                            <p>{{totalEntry | number_format(0, '.', ',')}}</p>
                          </div><!-- col -->
                          <div class="col text-center">
                            <label class="tx-12">Debits</label>
                            <p>{{totalOut | number_format(0, '.', ',')}}</p>
                          </div><!-- col -->
                        </div>
                        <div class="progress mg-b-5">
                          <div class="progress-bar bg-info wd-50p" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:100% ">Not Important</div>
                        </div>
                      </div>
                  </div>
                  <!-- Tab content -->
                </div>
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-md mg-t-20 mg-md-t-0">
              <div class="card border border-danger">
                <div class="card-body">
                  <h5 class="card-title tx-danger text-purple mg-b-10">Last 4 Transactions</h5>
                  <div class="row" style="min-height: 104px">
                    {% for transaction in last5%}
                      <div class="col-12 d-flex align-items-start mg-b-5 pd-l-10 pd-r-25">
                        <span class="mg-l-10  tx-gray-600">{%if transaction.isDebit%}<i class="fa fa-arrow-circle-down mg-r-5 tx-warning"></i>Debit{%else%}<i class="fa fa-arrow-circle-up mg-r-5 tx-info"></i>Credit{%endif%}: </span>
                        <span class="mg-l-auto tx-gray-600 tx-right">{{transaction.ceAmount|number_format('0','.',',')}}</span>
                      </div>
                    {%endfor%}
                  </div>
                  <a href="{{path('ceaccount_credits',{'id':account.id})}}" class="bg-light">
                    <div class="d-flex align-items-center mg-b-5 bg-light pd-l-5 pd-r-5">
                      <span class="square-10 bg-success square-8"></span>
                      <span class="mg-l-10  tx-gray-600">All Credits: </span>
                      <span class="mg-l-auto tx-gray-600 tx-right">{{totalEntry | number_format(0, '.', ',')}}</span>
                    </div>
                  </a>
                  <a href="{{path('ceaccount_debits',{'id':account.id})}}">
                    <div class="d-flex align-items-center bg-light pd-l-5 pd-r-5">
                      <span class="square-10 bg-danger square-8"></span>
                      <span class="mg-l-10  tx-gray-600">All Debits: </span>
                      <span class="mg-l-auto tx-gray-600 tx-right">{{totalOut | number_format(0, '.', ',')}}</span>
                    </div>
                  </a>
                </div>
              </div><!-- card -->
            </div><!-- col -->
          </div><!-- row -->
        </div>

        <div class="row row-sm mg-t-10">
          <div class="col-lg-12">
            <ul class="nav nav-activity-profile mg-b-20">
            {% if account.isMobileMoney%}
              <li class="nav-item"><a href="{{path('ceaccount_transfer',{'id':account.id})}}" class="nav-link"><i class="icon ion-ios-undo tx-pink"></i> Nouveau Transfert</a></li>
              <li class="nav-item"><a href="{{path('ceaccount_receive',{'id':account.id})}}" class="nav-link"><i class="icon ion-ios-redo tx-success"></i> Nouvelle Reception</a></li>
            {% endif%}

            {% if account.isCommercial%}
              <li class="nav-item"><a href="{{path('ceaccount_buy',{'id':account.id})}}" class="nav-link"><i class="icon ion-ios-download-outline tx-purple"></i> Nouveau Achat</a></li>
              <li class="nav-item"><a href="{{path('ceaccount_deposit',{'id':account.id})}}" class="nav-link"><i class="icon ion-ios-download-outline tx-teal"></i> Nouveau Depot</a></li>
            {% endif %}
            {% if account.isBankAccount or account.isCash%}
            <li class="nav-item"><a href="{{path('ceaccount_deposit',{'id':account.id})}}" class="nav-link"><i class="icon ion-ios-download-outline tx-teal"></i> Nouveau Depot</a></li>
            {% endif %}
            </ul><!-- nav -->
          </div><!-- col-12 -->
        </div>


      </div><!-- container -->
    </div><!-- slim-mainpanel -->

{% endblock %}
