{% extends 'base.html.twig' %}

{% block title %}Customers - FulTechs{% endblock %}
{% block stylesheets %}
  <link href="{{asset('lib/select2/css/jquery.dataTables.min.css')}}" rel="stylesheet">
  <link href="{{asset('lib/select2/css/dataTables.fixedHeader.min.css')}}" rel="stylesheet">
  <link href="{{asset('lib/select2/css/fixedHeader.dataTables.min.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="{{path('dashboard',{})}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">List Clients</li>
          </ol>
          <h6 class="slim-pagetitle">List Clients</h6>
        </div><!-- slim-pageheader -->
          {% include 'flash.html.twig' %}

        <div class="section-wrapper">
          <label class="section-title">List Of Customers</label>
          <div class="table-wrapper">
            <table id="datatable1" class="table mg-b-0 tx-12 table-striped display text-center " style="width: 100%">
              <thead>
                <tr>
                  <th class="wd-15p"><i class="icon ion-person tx-14 pd-r-10"></i><span class="large-screen">Names</span></th>
                  <th class="wd-20p">
                    <i class="icon ion-ios-telephone tx-14 pd-r-10"></i><span class="large-screen">Mobile</span>
                  </th>
                  <th class="wd-20p large-screen">
                    <i class="icon ion-location tx-14 pd-r-10"></i><span>Town</span>
                  </th>
                  <th class="wd-20p"><i class="icon icon ion-ios-cart tx-12 pd-r-10"></i><span class="large-screen">Orders</span></th>
                  <th class="wd-20p large-screen">
                    <i class="icon icon ion-cash tx-12 pd-r-10"></i>Total Amount
                  
                  </th>
                </tr>
              </thead>
              <tbody>
                
                {% for key, customer in customerData %}
	                <tr class='clickable-row' data-href="{{path('customer_show',{'id':customer.customerId})}}">
	                  <td class="position-relative customer-list text-lg-left">
                      <i class="icon ion-person tx-20 pd-r-10 text-primary large-screen"></i><span class="customer-name text-capitalize">{{customer.firstName}} <span class="text-uppercase">{{customer.lastName}}</span></span>
                      <div class="customer-list-option">
                        <a href="{{path('customer_edit',{'id':customer.customerId})}}" title="Modify Customer" data-toggle="tooltip" data-placement="top" title="" data-original-title="Create Order"><i class="icon ion-edit tx-12"></i></a>
                          <a href="{{path('ceorder_new',{'mobile':customer.mobNum})}}" title="Create Order" data-toggle="tooltip" data-placement="top" title="" data-original-title="Create Order"><i class="icon icon ion-ios-cart tx-12"></i></a>
                          <a href="{{path('customer_show',{'id':customer.customerId})}}" title="View Customer" data-toggle="tooltip" data-placement="top" title="" data-original-title="Create Order"><i class="icon ion-eye tx-12"></i></a>
                      </div>
                    </td>
	                  <td>{{customer.mobNum}}</td>
	                  <td class="large-screen">{{customer.townAlias}}</td>
	                  <td>{{customer.orderCount}}</td>
	                  <td class="large-screen">{{customer.sumCustomer}}</td>
	                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div><!-- table-wrapper -->
          
          <div class="pagination-wrapper border-left-0 border-right-0 border-bottom-0">
            <nav aria-label="Page navigation">
              <ul class="pagination mg-b-0">
                {{pagination|raw}}
              </ul>
            </nav>
          </div>
        </div><!-- section-wrapper -->


      </div><!-- container -->
    </div><!-- slim-mainpanel -->
{% endblock %}
{% block javascripts %}
  <script src="{{asset('lib/select2/js/jquery.dataTables.min.js')}}"></script>
  <script src="{{asset('lib/select2/js/dataTables.fixedHeader.min.js')}}"></script>
  <script src="{{asset('lib/popper.js/js/popper.js')}}"></script>
{% endblock %}
{% block customscript%}

  <script>
      $(function(){
        'use strict';
        /*Start Tooltip*/
        // Initialize tooltip
        $('[data-toggle="tooltip"]').tooltip();

        // colored tooltip
        $('[data-toggle="tooltip-info"]').tooltip({
          template: '<div class="tooltip tooltip-info" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
        });
        /*End Tooltip*/

        /*Start Datatable*/
        $('#datatable1').DataTable({
          fixedHeader: {
              header: true,
          },
          responsive: true,
          language: {
            searchPlaceholder: 'Search...',
            sSearch: '',
            lengthMenu: '_MENU_ items/page'
          },
          pagingType: "simple",
        });

        // Select2
        $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });

      });
    </script>
{%endblock%}