{% extends 'base.html.twig' %}

{% block title %}Orders - FulTechs{% endblock %}
{% block stylesheets %}
  <link href="{{asset('lib/select2/css/jquery.dataTables.min.css')}}" rel="stylesheet">
  <link href="{{asset('lib/select2/css/dataTables.fixedHeader.min.css')}}" rel="stylesheet">
  <link href="{{asset('lib/select2/css/fixedHeader.dataTables.min.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="{{path('dashboard',{})}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">List Mandats</li>
          </ol>
          <h6 class="slim-pagetitle">List Mandats</h6>
        </div><!-- slim-pageheader -->
          {% include 'flash.html.twig' %}

        <div class="section-wrapper">
          <label class="section-title">List Of Orders</label>
          <div class="table-wrapper">
            <table id="datatable1" class="table mg-b-0 tx-12 table-striped display">
              <thead>
                <tr>
                  <th class="wd-15p">
                    <i class="icon icon ion-ios-paper-outline lh-20 tx-14 pd-r-10"></i>
                    <span class="large-screen">Reference</span>
                  </th>
                  <th class="wd-15p">
                    <i class="icon ion-cash lh-20 tx-14 pd-r-10"></i>
                    <span class="large-screen">Montant</span>
                  </th>
                  <th class="wd-20p">
                    <i class="icon ion-ios-telephone tx-14 pd-r-10"></i>
                  <span class="large-screen">Numero</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                
                {% for key, order in orders %}
                  <tr class='clickable-row' data-href="{{path('ceorder_show',{'id':order.id})}}">
                    <td>
                      <h6 class="slim-card-title tx-dark"><strong class="tx-11 d-block">{{ order.ceOrderref}}</strong></h6>
                      <span class="tx-11 d-block"><span class="square-8 bg-{{colors[order.id]}} mg-r-5 rounded-circle"></span> {{ status[order.id].label}}</span>
                      <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5"></span> <strong>Created: </strong>{{ order.ceDatec | date('d/m/Y')}}</span>
                      <span class="tx-11 d-block"><span class="square-8 bg-danger mg-r-5"></span> <strong>Modified: </strong>{{ order.ceTms | date('d/m/Y')}}</span>
                    </td>
                    <td class="valign-middle">
                      <span class="tx-11 d-block">Montant: {{ order.ceAmount}} FCFA</span>
                      <span class="tx-11 d-block">Frais: {{ order.ceOrderCharge}} FCFA</span> Total: 
                      <span class="tx-success">
                        {{ order.ceOrderTotal}} FCFA
                      </span></td>
                    <td class="valign-middle tx-left">
                      <span class="tx-11 d-block">MTN: {{ order.ceMobnum}}</span>
                        <span class="tx-11 d-block">{{customers[order.id].firstName}}&nbsp {{customers[order.id].lastName}}</span>
                        <span class="tx-11 d-block">{{towns[order.id].townName}}</span>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div><!-- table-wrapper -->
          
          <div class="pagination-wrapper border-left-0 border-right-0 border-bottom-0">
            <nav aria-label="Page navigation">
              <ul class="pagination mg-b-0">
                {{pagination|raw}}
              </ul>
            </nav>
          </div>
        </div><!-- section-wrapper -->


      </div><!-- container -->
    </div><!-- slim-mainpanel -->
{% endblock %}
{% block javascripts %}
  <script src="{{asset('lib/select2/js/jquery.dataTables.min.js')}}"></script>
  <script src="{{asset('lib/select2/js/dataTables.fixedHeader.min.js')}}"></script>
{% endblock %}
{% block customscript%}
  <script>
      $(function(){
        'use strict';

        $('#datatable1').DataTable({
          fixedHeader: {
              header: true,
          },
          responsive: true,
          language: {
            searchPlaceholder: 'Search...',
            sSearch: '',
            lengthMenu: '_MENU_ items/page',
          },
          pagingType: "simple"
        });

        // Select2
        $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });

      });
    </script>
{%endblock%}