{% extends 'base.html.twig' %}

{% block title %}Orders - FulTechs{% endblock %}
{% block body %}
    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">List Mandats</li>
          </ol>
          <h6 class="slim-pagetitle">List Mandats</h6>
        </div><!-- slim-pageheader -->
          {% include 'flash.html.twig' %}
          <div class="card card-table">
            <div class="table-responsive">
              <table class="table mg-b-0 tx-12 table-striped">
                <thead>
                  <tr class="tx-10">
                    <th class="pd-y-5">Ref</th>
                    <th class="pd-y-5 tx-cener  valign-middle">Montant</th>
                    <th class="pd-y-5 tx-center valign-left">Numero</th>
                  </tr>
                </thead>
                <tbody>
                  
                  {% for key, order in orders %}
	                  <tr class='clickable-row' data-href="{{path('ceorder_show',{'id':order.id})}}">
	                    <td>
	                      <h6 class="slim-card-title tx-dark"><strong class="tx-11 d-block">{{ order.ceOrderref}}</strong></h6>
	                      <span class="tx-11 d-block"><span class="square-8 bg-{{colors[order.id]}} mg-r-5 rounded-circle"></span> {{ status[order.id].label}}</span>
	                      <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5"></span> <strong>Created: </strong>{{ order.ceDatec | date('d/m/Y')}}</span>
	                      <span class="tx-11 d-block"><span class="square-8 bg-danger mg-r-5"></span> <strong>Modified: </strong>{{ order.ceTms | date('d/m/Y')}}</span>
	                    </td>
	                    <td class="valign-middle">
	                      <span class="tx-11 d-block">Montant: {{ order.ceAmount}} FCFA</span>
	                      <span class="tx-11 d-block">Frais: {{ order.ceOrderCharge}} FCFA</span> Total: 
	                    	<span class="tx-success">
	                    		{{ order.ceOrderTotal}} FCFA
	                    	</span></td>
	                    <td class="valign-middle tx-left">
	                    	<span class="tx-11 d-block">MTN: {{ order.ceMobnum}}</span>
	                      	<span class="tx-11 d-block">{{customers[order.id].firstName}}&nbsp {{customers[order.id].lastName}}</span>
	                      	<span class="tx-11 d-block">{{towns[order.id].townName}}</span>
	                    </td>
	                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div><!-- table-responsive -->
            <div class="pagination-wrapper border-left-0 border-right-0 border-bottom-0">
              <nav aria-label="Page navigation">
                <ul class="pagination mg-b-0">
                  {{pagination|raw}}
                </ul>
              </nav>
            </div>
          </div><!-- card -->

      </div><!-- container -->
    </div><!-- slim-mainpanel -->
{% endblock %}